{% extends 'base.html' %}

{% block content %}
<script src="/javascripts/account_menu.js"></script>
<title>{{title}}</title>

<form method="POST" action="/account/menu/{{menu['_id']}}">
    <div class='row'>
        {% include 'partials/account_nav.html' %}
        <div class="col-md-1" style="margin-top:5px;">
            <a href="/account/menus"><span class="fa fa-arrow-left"></span></a>
        </div>
        <div class="col-md-7">
            <div class="row">
                <legend style="margin-bottom:-20px;">
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" value="{{menu['label']}}" name="menuLabel">
                    </div>
                    <div class="form-group">
                      <input style="margin-top:20px;" class="form-control form-control-sm" type="text" id="menuDescription" name="menuDescription" placeholder="Menu description" value="{{menu['description']}}">
                    </div>
                </legend>
            </div>
            <hr>
            <h3>Categories <a href="" data-toggle="modal" data-target="#newCategoryModal" style="float:right;"><span class="fa fa-plus"></span></a></h3>
            <div class="accordion" id="categoriesAccordion">
                {%for category in menu['categories']%}
                <div class="card">
                    <div class="card-header" id="headingOne_{{category._id}}">
                      <h2 class="mb-0">
                          <button onclick="expandButtonToggle({{category._id}})" class="btn btn-link col-md-1" style="float:left;" type="button" data-toggle="collapse" data-target="#collapseOne_{{category._id}}" aria-expanded="true" aria-controls="collapseOne_{{category._id}}">
                            <span class="fa fa-expand"></span>
                          </button>
                          <div class="form-group col-md-11" style="float:right;">
                              <input class="form-control" type="text" value="{{category['label']}}" name="categoryLabel_{{category['_id']}}" placeholder="Category Name" />
                              <input class="form-control form-control-sm" type="text" id="categoryDescription_{{category._id}}" placeholder="{%if category.label%}{{category.label}} description{%else%}Category description{%endif%}" value="{%if category.description%}{{category.description}}{%endif%}" />
                          </div>
                      </h2>
                    </div>
                    <div id="collapseOne_{{category._id}}" class="collapse" aria-labelledby="headingOne_{{category._id}}" data-parent="#categoriesAccordion">
                        <a href="javascript:addItem({{category._id}})" style="float:right;margin:20px;"><small>add item</small></a>
                        <div class="card-body col-md-9 offset-md-2">
                            <div class="accordion" id="itemsAccordion_{{category._id}}">
                            {%if 'items' in category%}
                                {%for item in category['items']%}
                                    <div class="accordion" id="itemsAccordion_{{category._id}}">
                                        <div class="card">
                                            <div class="card-header" id="headingOne_{{item._id}}">
                                              <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne_{{item._id}}" aria-expanded="true" aria-controls="collapseOne_{{item._id}}">
                                                  {{item.label}}
                                                </button>
                                              </h2>
                                            </div>
                                            <div id="collapseOne_{{item._id}}" class="collapse" aria-labelledby="headingOne_{{item._id}}" data-parent="#itemsAccordion_{{category._id}}">
                                                <div class="card-body">
                                                    <div class="accordion" id="itemsAccordion_{{category._id}}">
                                                        <div class="form-group">
                                                            <label class="col-form-label col-form-label-sm" for="itemDescription_{{item._id}}">{{item.label}} description</label>
                                                            <input class="form-control form-control-sm" type="text" id="itemDescription_{{item._id}}" placeholder="{{item.label}} description" value="{%if 'description' in item%}{%if item.description%}{{item.description}}{%endif%}{%endif%}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                            {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                 {%endfor%}
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-block form-control-lg btn-outline-primary" type="submit"><span class="fa fa-save"></span> Save Menu</button>
            <div style="bottom:20px;" class="offset-md-5">
                <a href="javascript:deleteMenu('{{menu._id}}')" class="text-danger"><small>delete</small></a>
            </div>
        </div>
    </div>
</form>
<form style="display:none;" id="deleteMenuForm" action="/account/menus/delete" method="POST">
    <input name="menuId" value="{{menu['_id']}}" />
    <button type="submit">DELETE MENU</button>
</form>




<!-- NEW CATEGORY MODAL -->
<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content col-md-6 offset-md-3">
      <div class="modal-header">
        <h5 class="modal-title" id="newCategoryModalLabel">New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/account/menus/newCategory" method="POST">
              <input style="display:none;" name="menuId" value="{{menu._id}}" />
              <div class='form-group'>
                  <label for='menu-name'>Name</label><br>
                  <input class='form-control' id='categoryName' type='text' name='categoryName'/>
              </div>
              <div class='form-group'>
                  <label for='menu-name'>Description</label><br>
                  <input class='form-control form-control-sm' id='categoryDescription' type='text' name='categoryDescription' />
              </div>
              <div class='form-group'>
                  <button class='btn btn-outline-primary btn-block' type='submit'>Add Category</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
