<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/_bootswatch.scss" />
    <link rel="stylesheet" href="/stylesheets/_variables.scss" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    {% include 'partials/navbar.html' %}
    <div class="col-md-8 offset-md-2" style="margin-top:30px;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
